@media only screen and (max-width: 9999px) {
    .covers-two {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    html {
        font-family: 'Lato', 'Arial', 'sans-serif';
        font-size: 20px;
        font-weight: 400;
        text-rendering: optimizeLegibility;
        user-select: none;
        overflow-x: hidden;
        max-width: 100vw;
        margin-left: auto;
        margin-right: auto;
    }
    .covers-two {
        display: block;
    }
    .section-main {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/main.jpg);
    }
    .section-music {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/music.jpg);
    }
    .section-video {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/video.jpg);
    }
    .section-photo {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/photo.jpg);
    }
    .section-main,
    .section-photo,
    .section-video,
    .section-music {
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
    }
    .logo {
        position: relative;
        display: block;
        filter: invert(75%);
        max-width: 50%;
        margin: 5px auto 0 auto;
        opacity: 0.6;
        top: 50px;
    }
    .sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
    }
    .sticky .logo-small {
        filter: invert(80%);
        width: 240px;
        display: block;
        margin: 0 auto;
    }
    .sticky .nav2 {
        display: block;
        width: 100%;
        position: fixed;
        bottom: 0px;
        margin: 0 auto 5px auto;
    }
    nav {
        position: fixed;
        width: 100%;
        z-index: 1;
        top: 0;
        margin: 0 auto;
    }
    .nav1 {
        margin-bottom: 8px;
    }
    .nav2 {
        margin-bottom: 10px;
    }
    .row {
        display: flex;
        flex-direction: row;
        margin: 0;
    }
    .video-showcase {
        position: relative;
        width: 100%;
        top: 110px;
    }
    video-showcase > .space {
        margin-bottom: 8px;
        text-align: center;
        padding: 15px;
    }
    .section-video iframe {
        height: 120px;
        border: 2px solid #c9c9c9;
    }
    .photo-showcase {
        position: relative;
        top: 110px;
        margin-left: auto;
        margin-right: auto;
    }
    .da-photo {
        min-width: 200px;
    }
    .da-photo img {
        width: 100%;
        max-width: 320px;
        height: auto;
        transform: scale(1.2);
        transition: transform 0.5s, opacity 0.5s;
        opacity: 0.9;
    }
    .col-sm-3 {
        padding: 0;
    }
    .covers-two {
        display: block;
        position: relative;
        top: 110px;
        text-align: center;
    }
    .section-music img {
        height: 150px;
        border: 2px solid #c9c9c9;
    }
    .cd-mount,
    .cd-donk,
    .cd-tens,
    .cd-sos,
    .background,
    table,
    td {
        display: none;
    }
}

@media only screen and (orientation: portrait) and (max-width: 760px) {
    html {
        font-family: 'Lato', 'Arial', 'sans-serif';
        font-size: 20px;
        font-weight: 400;
        text-rendering: optimizeLegibility;
        user-select: none;
        overflow-x: hidden;
        max-width: 100vw;
        margin-left: auto;
        margin-right: auto;
    }
    .covers-two {
        display: block;
    }
    .section-main {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/main-small.jpg);
    }
    .section-music {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/music-small.jpg);
    }
    .section-video {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/video-small.jpg);
    }
    .section-photo {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/photo-small.jpg);
    }
    .section-main,
    .section-photo,
    .section-video,
    .section-music {
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        height: 116vh;
        overflow-x: hidden;
    }
    .logo {
        position: relative;
        display: block;
        filter: invert(75%);
        max-width: 80%;
        margin: 5px auto 0 auto;
        opacity: 0.6;
        top: 50px;
    }
    .sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
    }
    .sticky .logo-small {
        filter: invert(80%);
        width: 240px;
        display: block;
        margin: 0 auto;
    }
    .sticky .nav2 {
        display: block;
        width: 100%;
        position: fixed;
        bottom: 0px;
        margin: 0 auto 5px auto;
    }
    nav {
        position: fixed;
        width: 100%;
        z-index: 1;
        top: 0;
        margin: 0 auto;
    }
    .nav1 {
        margin-bottom: 8px;
    }
    .nav2 {
        margin-bottom: 10px;
    }
    .row {
        display: flex;
        flex-direction: row;
    }
    .section-video .showcase {
        position: relative;
        width: 100%;
        overflow-y: hidden;
    }
    .video-showcase {
        position: relative;
        display: block;
        width: 100%;
        margin-top: 3%;
        top: 100px;
        box-sizing: border-box;
    }
    .video-showcase .row {
        height: 100%;
    }
    .video-showcase > .space {
        display: block;
        max-width: 100%;
        margin-bottom: 8px;
        text-align: center;
    }
    .section-video iframe {
        height: auto;
        max-width: 270px;
        border: 2px solid #c9c9c9;
    }
    .photo-showcase {
        position: relative;
        top: 100px;
        max-width: 400px;
        width: 61%;
        margin-left: auto;
        margin-right: auto;
    }
    .photo-showcase div {
        display: inline-block;
        margin-top: 3%;
    }
    .da-photo {
        min-width: 200px;
    }
    .da-photo img {
        width: 100%;
        max-width: 320px;
        height: auto;
        transform: scale(1.2);
        transition: transform 0.5s, opacity 0.5s;
        opacity: 0.9;
    }
    .music-showcase-two {
        position: relative;
        top: 100px;
        padding: 0;
        display: block;
        margin-top: 3%;
    }
    .section-music {
        width: 100%;
        box-sizing: border-box;
    }
    .section-music img {
        height: 110px;
        border: 2px solid #c9c9c9;
        margin: 1%;
    }
    .cd-mount,
    .cd-donk,
    .cd-tens,
    .cd-sos {
        display: none;
    }
    .background {
        display: none;
        display: block;
        background-color: rgba(0, 0, 0, 0.9);
        width: 150px;
        height: 148px;
        margin-top: 0.4px;
        padding-top: 3.2px;
    }
    table {
        display: none;
        height: 135px;
        width: 130px;
        margin: 3px 0 0px 20px;
    }
    table,
    td {
        display: none;
        color: #c9c9c9;
        font-size: 40%;
        border-collapse: collapse;
        vertical-align: middle;
    }
}

@media only screen and (orientation: landscape) and (max-width: 760px) {
    html {
        font-family: 'Lato', 'Arial', 'sans-serif';
        font-size: 20px;
        font-weight: 400;
        text-rendering: optimizeLegibility;
        user-select: none;
        overflow-x: hidden;
        max-width: 100vw;
        margin-left: auto;
        margin-right: auto;
    }
    .covers-two {
        display: block;
    }
    .section-main {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/main.jpg);
    }
    .section-music {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/music.jpg);
    }
    .section-video {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/video.jpg);
    }
    .section-photo {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/photo.jpg);
    }
    .section-main,
    .section-photo,
    .section-video,
    .section-music {
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
    }
    .logo {
        position: relative;
        display: block;
        filter: invert(75%);
        max-width: 50%;
        margin: 5px auto 0 auto;
        opacity: 0.6;
        top: 50px;
    }
    .sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
    }
    .sticky .logo-small {
        filter: invert(80%);
        width: 240px;
        display: block;
        margin: 0 auto;
    }
    .sticky .nav2 {
        display: block;
        width: 100%;
        position: fixed;
        bottom: 0px;
        margin: 0 auto 5px auto;
    }
    nav {
        position: fixed;
        width: 100%;
        z-index: 1;
        top: 0;
        margin: 0 auto;
    }
    .nav1 {
        margin-bottom: 8px;
    }
    .nav2 {
        margin-bottom: 10px;
    }
    .row {
        display: flex;
        flex-direction: row;
        margin: 0;
    }
    .video-showcase {
        position: relative;
        width: 100%;
        top: 110px;
    }
    video-showcase > .space {
        margin-bottom: 8px;
        text-align: center;
        padding: 15px;
    }
    .section-video iframe {
        height: 120px;
        border: 2px solid #c9c9c9;
    }
    .photo-showcase {
        position: relative;
        top: 110px;
        margin-left: auto;
        margin-right: auto;
    }
    .da-photo {
        min-width: 200px;
    }
    .da-photo img {
        width: 100%;
        max-width: 320px;
        height: auto;
        transform: scale(1.2);
        transition: transform 0.5s, opacity 0.5s;
        opacity: 0.9;
    }
    .col-sm-3 {
        padding: 0;
    }
    .covers-two {
        display: block;
        position: relative;
        top: 110px;
        text-align: center;
    }
    .section-music img {
        height: 150px;
        border: 2px solid #c9c9c9;
    }
    .cd-mount,
    .cd-donk,
    .cd-tens,
    .cd-sos,
    .background,
    table,
    td {
        display: none;
    }
}


/*
@media only screen and (min-width: 1024px) and (max-width: 1024px) and (orientation: landscape) {
     
      html {
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-size: 20px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    user-select: none;
    overflow-x: hidden;
    max-width: 99%;
}
    .covers-two{
    display: block;
        
    }
    
 .section-main,
.section-photo,
.section-video,
.section-music {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    top: 0;
    max-width: 100%;
    width:100%;
    overflow-x: hidden;
}  
    
    .logo {
    position: relative;
    display: block;
    filter: invert(75%);
    max-width: 60%;
    margin: 5px auto 0 auto;
    opacity: 0.6;
}
    
    .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
    
  .sticky .logo-small {
    filter: invert(80%);
    width: 240px;
    display: block;
    margin: 0 auto;
}  
    
    nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    margin: 0 auto;
}
    
  .nav2{
    margin-bottom: 10px;
} 
    
    .video-showcase {
    position: relative;
    top: 180px;
    max-width:100%;
    margin: 0 auto;
}
    
    .section-video iframe{
    height: 228px;
    width: 100%;
    border: 2px solid #c9c9c9;
    
}
   
 .photo-showcase {
    position: relative;
    top: 160px;
    max-width:100%;
    margin: 0;
}   
    
  .photo-showcase div {
    display: inline-block;
    margin: 0 auto;
}  
    
 .da-photo img{
    max-width:100%;
    height: auto;
    transform: scale(1.2);
    transition: transform 0.5s, opacity 0.5s;
    opacity:0.9;
    
}   
    
 .music-showcase {
    position: relative;
    top: 160px;
    width:100%;
    margin: 0 auto;
}
    
    .music-showcase-two {
    position: relative;
    top: 160px;
    width:100%;
    margin: 0 auto;
}

.section-music {
    display: block;
    width: 100%;
    text-align: center;
    overflow: hidden;
    padding-right: 1px;
}

.section-music img{
    height: 180px;
    border: 2px solid #c9c9c9;
}
   

   
.covers-two { 
    float: left; 
    clear: both; 
    width: 100%; 
    margin-bottom: 18px; 
    }
    
.covers-two a {
    float: left;
    width: 180px;
    height: 180px;
    margin: 0 5px 10px 0;
    cursor: pointer;
}
    
.covers-two a img { 
    float: left; 
    }
    
.covers-two .rightmost { 
    margin-right: 0; 
    }
   
 .cd-mount,
.cd-donk,
.cd-tens,
.cd-sos{ 
      display: none;}


.background{
    display: none;
    display: block;
    background-color:rgba(0,0,0,0.9);
    width:150px; 
    height:148px;
    margin-top: 0.4px;
    padding-top: 3.2px;
}
table{
    display: none;
    height: 135px; 
    width: 130px;
    margin: 3px 0 0px 20px;
}
    
    table, td{
        display: none;
    color: #c9c9c9;
    font-size: 40%;
    border-collapse: collapse;
    vertical-align: middle; 
}

     
}
    

@media only screen and (max-width: 813px){
     html {
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-size: 20px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    user-select: none;
    overflow-x: hidden;
    max-width: 99%;
}
    .covers-two{
    display: block;
        
    }
    
   .section-main,
.section-photo,
.section-video,
.section-music {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    top: 0;
    max-width: 100%;
    width:100%;
    overflow-x: hidden;
}  
    
    logo {
        position: relative;
    display: block;
    filter: invert(75%);
    max-width: 60%;
    margin: 5px auto 0 auto;
    opacity: 0.6;
}
    
    .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
    
  .sticky .logo-small {
    filter: invert(80%);
    width: 140px;
    display: block;
    margin: 0 auto;
}  
    
    nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    margin: 0 auto;
}
    
  .nav2{
    margin-bottom: 10px;
} 
    
    .video-showcase {
    position: relative;
    top: 180px;
    max-width:100%;
    margin: 0 auto;
}
    
    .section-video iframe{
    height: 118px;
    width: 100%;
    border: 2px solid #c9c9c9;
    
}
   
 .photo-showcase {
    position: relative;
    top: 160px;
    max-width:100%;
    margin: 0;
}   
    
  .photo-showcase div {
    display: inline-block;
    margin: 0 auto;
}  
    
 da-photo img{
    max-width:100%;
    height: auto;
    transform: scale(1.2);
    transition: transform 0.5s, opacity 0.5s;
    opacity:0.9;
    
}   
    
 .music-showcase {
    position: relative;
    top: 160px;
    width:100%;
    margin: 0 auto;
}
    
    .music-showcase-two {
    position: relative;
    top: 160px;
    width:100%;
    margin: 0 auto;
}

.section-music {
    display: block;
    width: 100%;
    text-align: center;
    overflow: hidden;
    padding-right: 1px;
}

.section-music img{
    height: 130px;
    border: 2px solid #c9c9c9;
}
    
    
.cd-mount{
    display: none;
    background-image: url(img/music/thumbs/mount-thumb.jpg);
    background-size: contain;
    height: 130px;
    width: 130px;
    border: 2px solid #c9c9c9;
    float: left;
    }
    
.cd-donk{
    display: none;
    background-image: url(img/music/thumbs/donk-thumb.jpg);
    background-size: contain;
    height: 130px;
    width: 130px;
    border: 2px solid #c9c9c9;
    float: left;
    }
    
    
.cd-tens{
    display: none;
    background-image: url(img/music/thumbs/tens-thumb.jpg);
    background-size: contain;
    height: 130px;
    width: 130px;
    border: 2px solid #c9c9c9;
    float: left;
}

    
.cd-sos{
    display: none;
    background-image: url(img/music/thumbs/sos-thumb.jpg);
    background-size: contain;
    height: 130px;
    width: 130px;
    border: 2px solid #c9c9c9;
    float: left;
}
    

    
.covers-two { 
    float: left; 
    clear: both; 
    width: 100%; 
    margin-bottom: 18px; 
    }
    
.covers-two a {
    float: left;
    width: 130px;
    height: 130px;
    margin: 0 10px 10px 0;
    cursor: pointer;
}
    
.covers-two a img { 
    float: left; 
    }
    
.covers-two .rightmost { 
    margin-right: 0; 
    }


.background{
    display: none;
    display: block;
    background-color:rgba(0,0,0,0.9);
    width:150px; 
    height:148px;
    margin-top: 0.4px;
    padding-top: 3.2px;
}
table{
    display: none;
    height: 135px; 
    width: 130px;
    margin: 3px 0 0px 20px;
}
    
    table, td{
        display: none;
    color: #c9c9c9;
    font-size: 40%;
    border-collapse: collapse;
    vertical-align: middle; 
}
 
}

@media only screen and (max-width: 738px){
    
    html {
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-size: 10px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    user-select: none;
    overflow-x: hidden;
    max-width: 99%;
}
    
.section-main,
.section-photo,
.section-video,
.section-music {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    top: 0;
    max-width: 100%;
    width:100%;
    overflow-x: hidden;
}  
    
.logo {
    position: relative;
    display: block;
    filter: invert(75%);
    max-width: 60%;
    margin: 5px auto 0 auto;
    opacity: 0.6;
}
    
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
    
.sticky .logo-small {
    filter: invert(80%);
    width: 140px;
    display: block;
    margin: 0 auto;
}  
    
nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    margin: 0 auto;
}
    
  .nav2{
    margin-bottom: 10px;
} 
    
.video-showcase {
    position: relative;
    top: 180px;
    max-width:100%;
    margin: 0 auto;
}
    
.section-video iframe{
    height: 118px;
    width: 100%;
    border: 2px solid #c9c9c9;
    
}
   
 .photo-showcase {
    position: relative;
    top: 160px;
    max-width:100%;
    margin: 0;
}   
    
  .photo-showcase div {
    display: inline-block;
    margin: 0 auto;
}  
    
 da-photo img{
     height: 160px;
    max-width:100%;
    height: auto;
    transform: scale(1.2);
    transition: transform 0.5s, opacity 0.5s;
    opacity:0.9;
    
}   
    
 .music-showcase {
    position: relative;
    top: 160px;
    width:100%;
    margin: 0 auto;
}

.section-music {
    display: block;
    width: 100%;
    text-align: center;
    overflow: hidden;
    padding-right: 1px;
}

.section-music img{
    height: 198px;
    border: 2px solid #c9c9c9;
}   
    .cd-mount{background-image: url(img/music/thumbs/mount-thumb.jpg);
    background-size: contain;
    height: 150px;
    width: 150px;
    border: 2px solid #c9c9c9;
    float: left;} 
    .cd-donk{background-image: url(img/music/thumbs/donk-thumb.jpg);
    background-size: contain;
    height: 150px;
    width: 150px;
    border: 2px solid #c9c9c9;
    float: left;}
    
    
    .cd-tens{
    background-image: url(img/music/thumbs/tens-thumb.jpg);
    background-size: contain;
    height: 150px;
    width: 150px;
    border: 2px solid #c9c9c9;
    float: left;
}

    
.cd-sos{
    background-image: url(img/music/thumbs/sos-thumb.jpg);
    background-size: contain;
    height: 150px;
    width: 150px;
    border: 2px solid #c9c9c9;
    float: left;
}


.background{
    display: none;
    display: block;
    background-color:rgba(0,0,0,0.9);
    width:150px; 
    height:148px;
    margin-top: 0.4px;
    padding-top: 3.2px;
}
table{
    display: none;
    height: 135px; 
    width: 130px;
    margin: 3px 0 0px 20px;
}
    
    table, td{
        display: none;
    color: #c9c9c9;
    font-size: 40%;
    border-collapse: collapse;
    vertical-align: middle; 
}  
    
    
    
    
    
    
    
    
    
    
}

@media only screen and (max-width: 642px){
    
    html {
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-size: 20px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    user-select: none;
    overflow-x: hidden;
    max-width: 99%;
}
    
   .section-main,
.section-photo,
.section-video,
.section-music {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    top: 0;
    max-width: 100%;
    width:100%;
    overflow-x: hidden;
}  
    
    .logo {
    position: relative;
    display: block;
    filter: invert(75%);
    max-width: 60%;
    margin: 5px auto 0 auto;
    opacity: 0.6;
}
    
    .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
    
  .sticky .logo-small {
    filter: invert(80%);
    width: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}  
    
    nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}
    
  .nav2{
    margin-bottom: 10px;
} 
    
    .video-showcase {
    position: relative;
    top: 180px;
    max-width:100%;
    margin-left: auto;
    margin-right: auto;
}
    
    .section-video iframe{
    height: 118px;
    width: 100%;
    border: 2px solid #c9c9c9;
    
}
   
 .photo-showcase {
    position: relative;
    top: 160px;
    max-width:100%;
    margin: 0;
}   
    
  .photo-showcase div {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}  
    
 da-photo img{
    max-width:100%;
    height: auto;
    transform: scale(1.2);
    transition: transform 0.5s, opacity 0.5s;
    opacity:0.9;
    
}   
    
 .music-showcase {
    position: relative;
    top: 160px;
    width:100%;
    margin-left: auto;
    margin-right: auto;
}

.section-music {
    display: block;
    width: 100%;
    text-align: center;
    overflow: hidden;
    padding-right: 1px;
}

.section-music img{
    height: 198px;
    border: 2px solid #c9c9c9;
}   
    .cd-mount{
    display: none;
    background-image: url(img/music/thumbs/mount-thumb.jpg);
    background-size: contain;
    height: 130px;
    width: 130px;
    border: 2px solid #c9c9c9;
    float: left;}
    
    .cd-donk{
    display: none;
    background-image: url(img/music/thumbs/donk-thumb.jpg);
    background-size: contain;
    height: 130px;
    width: 130px;
    border: 2px solid #c9c9c9;
    float: left;}
    
    
    .cd-tens{
    display: none;
    background-image: url(img/music/thumbs/tens-thumb.jpg);
    background-size: contain;
    height: 130px;
    width: 130px;
    border: 2px solid #c9c9c9;
    float: left;
}

    
.cd-sos{
    display: none;
    background-image: url(img/music/thumbs/sos-thumb.jpg);
    background-size: contain;
    height: 130px;
    width: 130px;
    border: 2px solid #c9c9c9;
    float: left;
}


.background{
    display: none;
    background-color:rgba(0,0,0,0.9);
    width:140px; 
    height:138px;
    margin-top: 0.4px;
    padding-top: 3.2px;
}
table{
    display: none;
    height: 135px; 
    width: 130px;
    margin: 3px 0 0px 20px;
}
    
    table, td{
    display: none;
    color: #c9c9c9;
    font-size: 40%;
    border-collapse: collapse;
    vertical-align: middle; 
}  
    
    
    
}


@media only screen and (max-width: 480px){
     html {
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-size: 20px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    user-select: none;
    overflow-x: hidden;
        max-width: 99%;
}
    
   .section-main,
.section-photo,
.section-video,
.section-music {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    top: 0;
    max-width: 100%;
    width:100%;
    overflow-x: hidden;
}  
    
    logo {
        position: relative;
    display: block;
    filter: invert(75%);
    max-width: 60%;
    margin: 5px auto 0 auto;
    opacity: 0.6;
}
    
    .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
    
  .sticky .logo-small {
    filter: invert(80%);
    width: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}  
    
    nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}
    
  .nav2{
    margin-bottom: 10px;
} 
    
    .video-showcase {
    display: block;
    position: relative;
    top: 120px;
    width:100%;
    margin-left: auto;
    margin-right: auto;
}
    
    .section-video iframe{
    display: block;
    height: auto;
    width: 50px;
    border: 2px solid #c9c9c9;
    
}
   
 .photo-showcase {
    position: relative;
    top: 160px;
    max-width:100%;
    margin: 0;
}   
    
  .photo-showcase div {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}  
    
 da-photo img{
    max-width:100%;
    height: auto;
    transform: scale(1.2);
    transition: transform 0.5s, opacity 0.5s;
    opacity:0.9;
    
}   
    
 .music-showcase {
    position: relative;
    top: 160px;
    width:100%;
    margin-left: auto;
    margin-right: auto;
}

.section-music {
    display: block;
    width: 100%;
    text-align: center;
    overflow: hidden;
    padding-right: 1px;
}

.section-music img{
    height: 198px;
    border: 2px solid #c9c9c9;
}   
    .cd-mount{background-image: url(img/music/thumbs/mount-thumb.jpg);
    background-size: contain;
    height: 150px;
    width: 150px;
    border: 2px solid #c9c9c9;
    float: left;} 
    .cd-donk{background-image: url(img/music/thumbs/donk-thumb.jpg);
    background-size: contain;
    height: 150px;
    width: 150px;
    border: 2px solid #c9c9c9;
    float: left;}
    
    
    .cd-tens{
    background-image: url(img/music/thumbs/tens-thumb.jpg);
    background-size: contain;
    height: 150px;
    width: 150px;
    border: 2px solid #c9c9c9;
    float: left;
}

    
.cd-sos{
    background-image: url(img/music/thumbs/sos-thumb.jpg);
    background-size: contain;
    height: 150px;
    width: 150px;
    border: 2px solid #c9c9c9;
    float: left;
}


.background{
    display: none;
    display: block;
    background-color:rgba(0,0,0,0.9);
    width:150px; 
    height:148px;
    margin-top: 0.4px;
    padding-top: 3.2px;
}
table{
    display: none;
    height: 135px; 
    width: 130px;
    margin: 3px 0 0px 20px;
}
    
    table, td{
        display: none;
    color: #c9c9c9;
    font-size: 40%;
    border-collapse: collapse;
    vertical-align: middle; 
}*/


}